<h2 mat-dialog-title>Add compound</h2>
<mat-dialog-content [formGroup]="form">
    <div fxLayout="column">
  <mat-form-field>
    <input matInput formControlName="code" placeholder="Code">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="selectivityConditions" placeholder="Selectivity Conditions">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="temperature" placeholder="Temperature">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="formula" placeholder="Formula">
  </mat-form-field>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="submit()" type="submit">Add</button>
  <button mat-raised-button mat-dialog-close type="button">Cancel</button>
</mat-dialog-actions>