p {
    font-family: Lato;
  }
  
  .icon-right{
    position: absolute; right: 0;
  }

  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

  .center {
    margin:auto;
    width: 50%;
  }

  .right {
    float: right;
  }

.word-wrap {
  word-break: break-all;
  
}  

button{

  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-flow: row wrap;

}

.flex-item {
    width: 320px;
    height: 250px;
    margin-top: 15px;
    margin-right: 8px;
    }

.card-fix {
  padding: 0;

  .card-fix-container {
    box-sizing: border-box;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;

    .mat-card-content { 
      flex: 1;
    }

    & > .mat-card-actions:last-child {
      margin-bottom: -16px;
      padding-bottom: 0;
    }
  }
}