<mat-toolbar color="primary">
        <a [routerLink]="['/compounds/all']" class="buttonLink">Chemsistant</a>
        <span class="example-fill-remaining-space"></span>
        <ng-container *ngIf="displayOptions">
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <a [routerLink]="['/compounds/all']" class="buttonLink"><b>All Compounds</b></a>
            </button>

        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <a [routerLink]="['/compounds/pinned']" class="buttonLink">Pinned Compounds</a>
            </button>
        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary" (click)="logout()">
                Logout
            </button>
        </div>
    </ng-container>

  </mat-toolbar>
