<h3>{{currentCompound.code}}</h3>
<h6>{{ currentCompound.name }}</h6>
 <ul>
    <li>Temp: {{ currentCompound.temperature }}</li>
    <li>availability: yes</li>
    <li>selectivityConditions: {{ currentCompound.selectivityConditions }}</li>
    <li>cool: Yes</li>
  </ul>
  <h4><u>Notes</u> <button mat-raised-button color="primary" (click)="openEditNotesDialog()" class="right">Edit notes</button></h4>
  
  <div [innerHTML]="currentCompound.notes"></div>

  <h4><u>Tasks</u> <button mat-raised-button color="primary" (click)="openAddTaskDialog()" class="right">Add task</button></h4>

<div class="flex-container" fxLayout.xs="column" >
  <div *ngFor="let task of tasks">
    <div class="flex-item">
        <mat-card fxFill class="example-card card-fix">
           <div class="card-fix-container">
             <div class="word-wrap">
             <mat-card-header>
          <mat-card-title>
            {{ task.title }}
            </mat-card-title>
             </mat-card-header>
             </div>
            <mat-card-content>
              
            </mat-card-content>
          <mat-card-actions>
            <a class="right" mat-button href="/tasks/task/{{ task.id }}">
             <mat-icon aria-hidden="false">
          open_in_browser
        </mat-icon>
        </a>
          </mat-card-actions>
           </div>
  </mat-card>
    </div>
</div>
</div>



